{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		{{ form_start(form) }}
		<div class="mb-3">
			<div {{ stimulus_controller('autocomplete', { url: path('app_contact_subjects', { preview: 1 } ) }) }} data-autocomplete-min-length-value="3" data-autocomplete-delay-value="200" class="position-relative">
				{{ form_label(form.subject) }}
				{{ form_widget(form.subject) }}
				<ul class="list-group position-absolute w-100 mt-1 shadow-sm" data-autocomplete-target="results" style="z-index: 1000"></ul>
				{{ form_widget(form.subjectId) }}
				{{ form_errors(form.subject) }}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
